@import 'src/app/style/colors'

$previewWidth: 300px

.previews
  display: flex
  flex-direction: column

  padding: 0 6px 0 0

  width: $previewWidth
  height: 100vh

  border-right: 2px solid $bright

  overflow-y: auto

  app-preview
    margin: 4px
